<%- include('partials/navbar') %>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-sm-15">
            <div class="card">
                <div class="card-body">
                    <h3>Conversion Result</h3>
                    <p>Base Currency: <%= conversionResult.base %></p>
                    <p>Target Currency: <%= conversionResult.target %></p>
                    <p>Amount: <%= conversionResult.amount %></p>
                    <p>Conversion Rate: <%= conversionResult.conversionRate %></p>
                    <p>Converted Amount: <%= conversionResult.convertedAmount %></p>

                    <!-- Exchange Page -->
                    <form action="/exchange" method="get">
                        <button type="submit" class="btn btn-primary">Back to Exchange</button>
                    </form>

                    <!-- Log Out Button -->
                    <form action="/logout" method="get">
                        <button type="submit" class="btn btn-primary">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
